*{
    margin: 0;
    padding: 0;
}

.navbar-brand img{
    width: 70px;
}

.logo-nombre{
    display: none;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #0074C7 !important;
}

.nav-link{
    color: white !important;
}

main{
    min-height: 80vh;
}

.copy{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    color: #0074C7;
    font-weight: bolder;
}

.copyR {
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .logo{
        display: none;
    }

    .navbar-brand img{
        width: 200px;
    }

    .logo-nombre{
        display: flex;
    }
}